---
- name: Remove external authentication configuration
  ansible.builtin.file:
    path: "{{ httpd_conf_path}} /05-{{ item }}.d/external_auth.conf"
    state: absent
  notify:
    - Restart httpd
  loop:
    - foreman
    - foreman-ssl

- name: Remove Apache module configuration files for IPA authentication
  ansible.builtin.file:
    path: "{{ httpd_modules_path }}/55-{{ item }}.conf"
    state: absent
  loop:
    - authnz_pam
    - intercept_form_submit
    - lookup_identity
    - auth_gssapi
  notify:
    - Restart httpd
