---
- name: Setup remote database
  hosts:
    - database
  become: true
  vars_files:
    - "../../../src/vars/defaults.yml"
    - "../../../src/vars/database.yml"
  roles:
    - role: pre_install
    - role: postgresql
