CONTENT_ORIGIN="{{ pulp_content_origin }}"
CACHE_ENABLED=True
REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_DB=8

DATABASES = {
	'default': {
		'ENGINE': 'django.db.backends.postgresql',
		'NAME': 'pulp',
		'USER': 'pulp',
		'PASSWORD': '{{ pulp_db_password }}',
		'HOST': 'localhost',
	}
}

AUTHENTICATION_BACKENDS=['pulpcore.app.authentication.PulpNoCreateRemoteUserBackend']
REMOTE_USER_ENVIRON_NAME="HTTP_REMOTE_USER"
REST_FRAMEWORK__DEFAULT_AUTHENTICATION_CLASSES=('rest_framework.authentication.SessionAuthentication', 'pulpcore.app.authentication.PulpRemoteUserAuthentication')
ANALYTICS = {{ pulp_enable_analytics | ternary('True', 'False') }}

SMART_PROXY_RHSM_URL="{{ pulp_rhsm_url }}"
