<Server port="8005" shutdown="SHUTDOWN">

{% if candlepin_tomcat_major_version | int >= 10 %}
  <!-- OpenSSL library loader using FFM -->
  <Listener className="org.apache.catalina.core.OpenSSLLifecycleListener" />
{% endif %}
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

  <GlobalNamingResources>
    <Resource name="UserDatabase" auth="Container"
              type="org.apache.catalina.UserDatabase"
              description="User database that can be updated and saved"
              factory="org.apache.catalina.users.MemoryUserDatabaseFactory"
              pathname="conf/tomcat-users.xml" />
  </GlobalNamingResources>

  <Service name="Catalina">

    <!-- SSL HTTP/1.1 Connector -->
    <Connector port="{{ candlepin_ssl_port }}"
               address="{{ candlepin_hostname }}"
               protocol="org.apache.coyote.http11.Http11NioProtocol"
               SSLEnabled="true"
               maxThreads="150" scheme="https" secure="true">
        <SSLHostConfig certificateVerification="optional"
                       protocols="{{ candlepin_tls_versions | join(',') }}"
                       caCertificateFile="/etc/candlepin/certs/candlepin-ca.crt"
                       ciphers="{{ candlepin_ciphers | join(':') }}">
            <Certificate certificateFile="/etc/candlepin/certs/tomcat.crt"
                         certificateKeyFile="/etc/candlepin/certs/tomcat.key" />
        </SSLHostConfig>
    </Connector>

    <Engine name="Catalina" defaultHost="localhost">

      <Realm className="org.apache.catalina.realm.UserDatabaseRealm"
             resourceName="UserDatabase"/>

      <Host name="localhost" appBase="webapps"
            unpackWARs="true" autoDeploy="true">
      </Host>
    </Engine>
  </Service>
</Server>
