- name: Deploy Hammer git repository
  ansible.builtin.include_role:
    name: git_repository
  vars:
    git_repository_destination_dir: "{{ foreman_development_hammer_dir }}"
    git_repository_user: "{{ foreman_development_user }}"
    git_repository_repository_owner: "theforeman"
    git_repository_repository_name: "hammer-cli"
    git_repository_secondary_remote_owner: "{{ foreman_development_github_username }}"

- name: Setup hammer-cli-foreman
  ansible.builtin.include_tasks: hammer/plugin.yml
  vars:
    foreman_development_plugin_name: "hammer_cli_foreman"
    foreman_development_plugin_org: "theforeman"
    foreman_development_plugin_repo_url: "https://github.com/theforeman/hammer-cli-foreman.git"
    foreman_development_plugin_manage_repo: true
    foreman_development_plugin_settings_template: "hammer/foreman.yml.j2"
    foreman_development_plugin_extra_gemfiles: []

- name: Setup plugins
  ansible.builtin.include_tasks: hammer/plugin.yml
  vars:
    foreman_development_plugin_config: "{{ (foreman_development_plugin_registry[plugin_item] | default({})).hammer | default({}) }}"
    foreman_development_plugin_name: "{{ foreman_development_plugin_config.name.split('/')[1] }}"
    foreman_development_plugin_gem: "{{ foreman_development_plugin_config.gem }}"
    foreman_development_plugin_org: "{{ foreman_development_plugin_config.name.split('/')[0] }}"
    foreman_development_plugin_repo_url: "https://github.com/{{ foreman_development_plugin_config.name }}.git"
    foreman_development_plugin_manage_repo: "{{ foreman_development_plugin_config.manage_repo | default(true) }}"
    foreman_development_plugin_settings_template: "{{ foreman_development_plugin_config.settings_template | default('') }}"
    foreman_development_plugin_module_config: "{{ foreman_development_plugin_config.module_config | default('') }}"
    foreman_development_plugin_extra_gemfiles: []
  when: foreman_development_plugin_config != {}
  loop: "{{ foreman_development_default_plugins + foreman_development_enabled_plugins }}"
  loop_control:
    loop_var: plugin_item

- name: Install Ruby dependencies
  ansible.builtin.command:
    cmd: bundle install --path .vendor --jobs 3
    chdir: "{{ foreman_development_hammer_dir }}"
  become: true
  become_user: "{{ foreman_development_user }}"
  environment:
    PATH: "/usr/bin:/bin:/usr/local/bin"
  changed_when: true
