---
- name: Clone smart-proxy repository
  ansible.builtin.git:
    repo: "{{ foreman_development_smart_proxy_git_repo }}"
    dest: "{{ foreman_development_smart_proxy_dir }}"
    version: "{{ foreman_development_smart_proxy_git_revision }}"
    force: true
  become: true
  become_user: "{{ foreman_development_user }}"

- name: Add GitHub username as additional remote for smart-proxy
  community.general.git_config:
    name: "remote.{{ foreman_development_github_username }}.url"
    scope: local
    repo: "{{ foreman_development_smart_proxy_dir }}"
    value: "git@github.com:{{ foreman_development_github_username }}/smart-proxy.git"
    state: present
  become: true
  become_user: "{{ foreman_development_user }}"
  when: foreman_development_github_username != ""

- name: Create smart-proxy settings.d file from template
  ansible.builtin.template:
    src: "smart-proxy/settings.yml.j2"
    dest: "{{ foreman_development_smart_proxy_dir }}/config/settings.yml"
    owner: "{{ foreman_development_user }}"
    group: "{{ foreman_development_group }}"
    mode: "0644"
  become: true
  become_user: "{{ foreman_development_user }}"

- name: Setup smart-proxy plugins
  ansible.builtin.include_tasks: smart-proxy/plugin.yml
  vars:
    foreman_development_plugin_config: "{{ (foreman_development_plugin_registry[plugin_item] | default({})).smart_proxy | default({}) }}"
    foreman_development_plugin_name: "{{ foreman_development_plugin_config.name.split('/')[1] }}"
    foreman_development_plugin_gem: "{{ foreman_development_plugin_config.gem | default(foreman_development_plugin_config.name.split('/')[1]) }}"
    foreman_development_plugin_org: "{{ foreman_development_plugin_config.name.split('/')[0] }}"
    foreman_development_plugin_repo_url: "https://github.com/{{ foreman_development_plugin_config.name }}.git"
    foreman_development_plugin_manage_repo: "{{ foreman_development_plugin_config.manage_repo | default(true) }}"
    foreman_development_plugin_settings_template: "{{ foreman_development_plugin_config.settings_template | default('') }}"
    foreman_development_plugin_module_config: "{{ foreman_development_plugin_config.module_config | default('') }}"
    foreman_development_plugin_bundler_path_prefix: "../../"
    foreman_development_plugin_extra_gemfiles: []
  when: foreman_development_plugin_config != {}
  loop: "{{ foreman_development_default_plugins + foreman_development_enabled_plugins }}"
  loop_control:
    loop_var: plugin_item

- name: Install smart-proxy Ruby dependencies
  ansible.builtin.command:
    cmd: bundle install --path .vendor --jobs 3
    chdir: "{{ foreman_development_smart_proxy_dir }}"
  become: true
  become_user: "{{ foreman_development_user }}"
  environment:
    PATH: "/usr/bin:/bin:/usr/local/bin"
  changed_when: true
