---
- name: Pull images
  hosts:
    - quadlet
  vars_files:
    - "../../vars/defaults.yml"
    - "../../vars/profiles/{{ profile }}.yml"
    - "../../vars/images.yml"
    - "../../vars/base.yaml"
  become: true
  tasks:
    - name: Install podman
      ansible.builtin.package:
        name:
          - podman

    - name: Pull an image
      containers.podman.podman_image:
        name: "{{ item }}"
      loop: "{{ images }}"

    - name: Pull foreman_proxy images
      containers.podman.podman_image:
        name: "{{ item }}"
      loop: "{{ foreman_proxy_images }}"
      when:
        - "'foreman-proxy' in enabled_features"

    - name: Pull database images
      containers.podman.podman_image:
        name: "{{ item }}"
      loop: "{{ database_images }}"
      when:
        - database_mode == 'internal'
