---
- name: Pull images
  hosts:
    - quadlet
  vars_files:
    - "../../vars/defaults.yml"
    - "../../vars/flavors/{{ flavor }}.yml"
    - "../../vars/images.yml"
    - "../../vars/base.yaml"
  become: true
  roles:
    - role: pre_install
  post_tasks:
    - name: Pull an image
      containers.podman.podman_image:
        name: "{{ item }}"
      environment:
        REGISTRY_AUTH_FILE: "{{ registry_auth_file }}"
      loop: "{{ images }}"

    - name: Pull foreman_proxy images
      containers.podman.podman_image:
        name: "{{ item }}"
      environment:
        REGISTRY_AUTH_FILE: "{{ registry_auth_file }}"
      loop: "{{ foreman_proxy_images }}"
      when:
        - "'foreman-proxy' in enabled_features"

    - name: Pull database images
      containers.podman.podman_image:
        name: "{{ item }}"
      environment:
        REGISTRY_AUTH_FILE: "{{ registry_auth_file }}"
      loop: "{{ database_images }}"
      when:
        - database_mode == 'internal'
