---
- name: Assert FQDN is not 'localhost' or 'localhost.localdomain'
  ansible.builtin.assert:
    that:
      - ansible_facts['fqdn'] != "localhost"
      - ansible_facts['fqdn'] != "localhost.localdomain"
    fail_msg: "FQDN {{ ansible_facts['fqdn'] }} is invalid: it must not be 'localhost' or 'localhost.localdomain'"

- name: Assert FQDN contains a dot
  ansible.builtin.assert:
    that:
      - ansible_facts['fqdn'].count('.') >= 1
    fail_msg: "FQDN {{ ansible_facts['fqdn'] }} must contain at least one dot."

- name: Assert FQDN has no underscores
  ansible.builtin.assert:
    that:
      - ansible_facts['fqdn'].count('_') == 0
    fail_msg: "FQDN {{ ansible_facts['fqdn'] }} must not contain underscores"

- name: Assert FQDN is lowercase
  ansible.builtin.assert:
    that:
      - ansible_facts['fqdn'] == ansible_facts['fqdn'] | lower
    fail_msg: "FQDN {{ ansible_facts['fqdn'] }} must be lowercase"
