---
:enabled: true
:pulp_url: {{ foreman_proxy_pulp_url }}
:content_app_url: {{ foreman_proxy_pulp_content_url }}
:mirror: false
:client_authentication: ["client_certificate"]
#:rhsm_url: https://localhost/rhsm
