---
pulp_container_image: quay.io/foreman/pulp
pulp_container_tag: "3.73"
pulp_api_image: "{{ pulp_container_image }}:{{ pulp_container_tag }}"
pulp_content_image: "{{ pulp_container_image }}:{{ pulp_container_tag }}"
pulp_worker_image: "{{ pulp_container_image }}:{{ pulp_container_tag }}"

# Container user namespace UID/GID (pulp user in pulp-oci-images)
pulp_container_uid: 700
pulp_container_gid: 700

pulp_worker_count: "{{ [8, ansible_facts['processor_nproc']] | min }}"
pulp_content_service_worker_count: "{{ (2 * ([8, ansible_facts['processor_nproc']] | min)) + 1 }}"
pulp_api_service_worker_count: "{{ ([4, ansible_facts['processor_nproc']] | min) + 1 }}"

pulp_volumes:
  - /var/lib/pulp:/var/lib/pulp

pulp_api_container_name: pulp-api
pulp_content_container_name: pulp-content
pulp_worker_container_name: pulp-worker

pulp_content_origin: "http://{{ ansible_facts['fqdn'] }}:24816"
pulp_pulp_url: "http://{{ ansible_facts['fqdn'] }}:24817"

pulp_enable_analytics: false

pulp_default_plugins:
  - pulp_certguard
  - pulp_file
  - pulp_smart_proxy
pulp_plugins:
  - pulp_container
  - pulp_rpm
pulp_enabled_plugins: "{{ pulp_default_plugins + pulp_plugins }}"

pulp_database_name: pulp
pulp_database_user: pulp
pulp_database_host: localhost
pulp_database_port: 5432
pulp_database_ssl_mode: disabled
pulp_database_ssl_ca: None

pulp_settings_database_env:
  PULP_DATABASES__default__NAME: "{{ pulp_database_name }}"
  PULP_DATABASES__default__USER: "{{ pulp_database_user }}"
  PULP_DATABASES__default__HOST: "{{ pulp_database_host }}"
  PULP_DATABASES__default__PORT: "{{ pulp_database_port }}"
  PULP_DATABASES__default__OPTIONS__sslmode: "{{ pulp_database_ssl_mode }}"
  PULP_DATABASES__default__OPTIONS__sslrootcert: "{{ pulp_database_ssl_ca }}"
  PULP_ENABLED_PLUGINS: >-
    {{ pulp_enabled_plugins }}

# The arrays (AUTH_BACKENDS, AUTH_CLASSES) need to be strings
# that get parsed to array by dynaconf, so we're using block scalars for them
pulp_settings_other_env:
  PULP_ANALYTICS: "{{ pulp_enable_analytics | ternary('true', 'false') }}"
  PULP_AUTHENTICATION_BACKENDS: >-
    ['pulpcore.app.authentication.PulpNoCreateRemoteUserBackend']
  PULP_CACHE_ENABLED: "true"
  PULP_CONTENT_ORIGIN: "{{ pulp_content_origin }}"
  PULP_REDIS_URL: "redis://localhost:6379/8"
  PULP_REMOTE_USER_ENVIRON_NAME: "HTTP_REMOTE_USER"
  PULP_REST_FRAMEWORK__DEFAULT_AUTHENTICATION_CLASSES: >-
    ['rest_framework.authentication.SessionAuthentication', 'pulpcore.app.authentication.PulpRemoteUserAuthentication']
  PULP_SMART_PROXY_PULP_URL: "{{ pulp_pulp_url }}"
  PULP_API_WORKERS: "{{ pulp_api_service_worker_count }}"
  PULP_CONTENT_WORKERS: "{{ pulp_content_service_worker_count }}"
  PULP_TOKEN_AUTH_DISABLED: "true"
  PULP_FLATPAK_INDEX: "true"

pulp_settings_env: "{{ pulp_settings_database_env | ansible.builtin.combine(pulp_settings_other_env) }}"

pulp_all_services: "{{ ['pulp-api', 'pulp-content'] + pulp_worker_services }}"
pulp_worker_services: >-
  {{
    range(1, pulp_worker_count | int + 1) | map('string') | map('regex_replace', '^', pulp_worker_container_name ~ '@') | list
  }}
