[Unit]
Description=Path unit for cvemap.xml manual file watcher

[Path]
PathChanged={{ iop_cvemap_downloader_manual_file }}
PathModified={{ iop_cvemap_downloader_manual_file }}

[Install]
WantedBy=multi-user.target
