---
- name: Clone plugin repository  # noqa latest[git]
  ansible.builtin.git:
    repo: "{{ foreman_development_plugin_repo_url }}"
    dest: "{{ foreman_development_deployment_dir }}/{{ foreman_development_plugin_name }}"
    force: true
  become: true
  become_user: "{{ foreman_development_user }}"
  when: foreman_development_plugin_manage_repo

- name: Add GitHub username as additional remote for plugin
  community.general.git_config:
    name: "remote.{{ foreman_development_github_username }}.url"
    scope: local
    repo: "{{ foreman_development_deployment_dir }}/{{ foreman_development_plugin_name }}"
    value: "git@github.com:{{ foreman_development_github_username }}/{{ foreman_development_plugin_name }}.git"
    state: present
  become: true
  become_user: "{{ foreman_development_user }}"
  when:
    - foreman_development_plugin_manage_repo
    - foreman_development_github_username != ""

- name: Create plugin settings file
  ansible.builtin.template:
    src: "{{ foreman_development_plugin_settings_template }}"
    dest: "{{ foreman_development_foreman_dir }}/config/settings.plugins.d/{{ foreman_development_plugin_name }}.yaml"
    owner: "{{ foreman_development_user }}"
    group: "{{ foreman_development_group }}"
    mode: "0644"
  become: true
  become_user: "{{ foreman_development_user }}"
  when: foreman_development_plugin_settings_template != ""

- name: Create plugin bundler configuration
  ansible.builtin.template:
    src: plugin.local.rb.j2
    dest: "{{ foreman_development_foreman_dir }}/bundler.d/{{ foreman_development_plugin_name }}.local.rb"
    owner: "{{ foreman_development_user }}"
    group: "{{ foreman_development_group }}"
    mode: "0644"
  become: true
  become_user: "{{ foreman_development_user }}"
