[Unit]
Description=Candlepin
After=local-fs.target

[Container]
Image=quay.io/candlepin/candlepin:4.3.12-1
PodmanArgs=--cgroups=enabled --log-driver=journald

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
