<VirtualHost *:443>
  ServerName {{ ansible_facts['fqdn'] }}

  ## Load additional static includes
  IncludeOptional "/etc/httpd/conf.d/05-foreman-ssl.d/*.conf"

  ## Logging
  ErrorLog "/var/log/httpd/{{ 'foreman-ssl_error_ssl' if httpd_with_foreman else 'pulpcore_error' }}.log"
  ServerSignature Off
  CustomLog "/var/log/httpd/{{ 'foreman-ssl_access_ssl' if httpd_with_foreman else 'pulpcore_access' }}.log" combined

  ## Request header rules
  ## as per http://httpd.apache.org/docs/2.4/mod/mod_headers.html#requestheader
{% if httpd_with_foreman %}
  RequestHeader set X-FORWARDED-PROTO "https"
  RequestHeader set SSL-CLIENT-S-DN "%{SSL_CLIENT_S_DN}s"
  RequestHeader set SSL-CLIENT-CERT "%{SSL_CLIENT_CERT}s"
  RequestHeader set SSL-CLIENT-VERIFY "%{SSL_CLIENT_VERIFY}s"
  RequestHeader unset REMOTE-USER
  RequestHeader unset REMOTE_USER
  RequestHeader unset REMOTE-USER-EMAIL
  RequestHeader unset REMOTE-USER_EMAIL
  RequestHeader unset REMOTE_USER-EMAIL
  RequestHeader unset REMOTE_USER_EMAIL
  RequestHeader unset REMOTE-USER-FIRSTNAME
  RequestHeader unset REMOTE-USER_FIRSTNAME
  RequestHeader unset REMOTE_USER-FIRSTNAME
  RequestHeader unset REMOTE_USER_FIRSTNAME
  RequestHeader unset REMOTE-USER-LASTNAME
  RequestHeader unset REMOTE-USER_LASTNAME
  RequestHeader unset REMOTE_USER-LASTNAME
  RequestHeader unset REMOTE_USER_LASTNAME
  RequestHeader unset REMOTE-USER-GROUPS
  RequestHeader unset REMOTE-USER_GROUPS
  RequestHeader unset REMOTE_USER-GROUPS
  RequestHeader unset REMOTE_USER_GROUPS
{% else %}
  RequestHeader set X_RHSM_SSL_CLIENT_CERT "%{SSL_CLIENT_CERT}s"
{% endif %}

  ## SSL directives
  SSLEngine on
  SSLCertificateFile      "{{ httpd_ssl_dir }}/certs/katello-apache.crt"
  SSLCertificateKeyFile   "{{ httpd_ssl_dir }}/private/katello-apache.key"
  SSLCertificateChainFile "{{ httpd_ssl_dir }}/certs/katello-server-ca.crt"
  SSLVerifyClient         optional
  SSLVerifyDepth          3
  SSLCACertificateFile    "{{ httpd_ssl_dir }}/certs/katello-default-ca.crt"
  SSLOptions +StdEnvVars +ExportCertData

  # SSL Proxy directives
  SSLProxyEngine On
  SSLProxyCACertificateFile "{{ httpd_ssl_dir }}/certs/katello-default-ca.crt"
{% if not httpd_with_foreman %}
  ProxyPass /katello/api/v2/repositories/ {{ httpd_foreman_url }}/katello/api/v2/repositories/
  <Location /katello/api/v2/repositories/>
    ProxyPassReverse {{ httpd_foreman_url }}/katello/api/v2/repositories/
  </Location>
{% endif %}

  ProxyPass /pulp_ansible/galaxy/ {{ httpd_pulp_api_backend }}/pulp_ansible/galaxy/
  ProxyPassReverse /pulp_ansible/galaxy/ {{ httpd_pulp_api_backend }}/pulp_ansible/galaxy/

  <Location "/pulpcore_registry/v2/">
    RequestHeader unset REMOTE_USER
    RequestHeader unset REMOTE-USER
    RequestHeader set REMOTE-USER "admin" "expr=%{SSL_CLIENT_S_DN_CN} == '{{ ansible_facts['fqdn'] }}'"
    {% for httpd_pulp_trusted_host in httpd_pulp_trusted_hosts %}
    RequestHeader set REMOTE-USER "admin" "expr=%{SSL_CLIENT_S_DN_CN} == '{{ httpd_pulp_trusted_host }}'"
    {% endfor %}
    ProxyPass {{ httpd_pulp_api_backend }}/v2/
    ProxyPassReverse {{ httpd_pulp_api_backend }}/v2/
  </Location>

  ProxyPass /pulp/container/ {{ httpd_pulp_content_backend }}/pulp/container/
  ProxyPassReverse /pulp/container/ {{ httpd_pulp_content_backend }}/pulp/container/

  <Location "/pulp/content">
    RequestHeader unset X-CLIENT-CERT
    RequestHeader set X-CLIENT-CERT "%{SSL_CLIENT_CERT}s" env=SSL_CLIENT_CERT
    ProxyPass {{ httpd_pulp_content_backend }}/pulp/content disablereuse=on timeout=600
    ProxyPassReverse {{ httpd_pulp_content_backend }}/pulp/content
  </Location>

{% for httpd_pulp_snippet in httpd_enabled_pulp_snippets %}
{% include httpd_pulp_snippet+'.j2' %}
{% endfor %}

  <Location "/pulp/api/v3">
    RequestHeader unset REMOTE_USER
    RequestHeader unset REMOTE-USER
    RequestHeader set REMOTE-USER "admin" "expr=%{SSL_CLIENT_S_DN_CN} == '{{ ansible_facts['fqdn'] }}'"
    {% for httpd_pulp_trusted_host in httpd_pulp_trusted_hosts %}
    RequestHeader set REMOTE-USER "admin" "expr=%{SSL_CLIENT_S_DN_CN} == '{{ httpd_pulp_trusted_host }}'"
    {% endfor %}
    ProxyPass {{ httpd_pulp_api_backend }}/pulp/api/v3 timeout=600
    ProxyPassReverse {{ httpd_pulp_api_backend }}/pulp/api/v3
  </Location>

  Alias /pub {{ httpd_pub_dir }}

  <Location /pub>
    Options +FollowSymLinks +Indexes
    Require all granted
  </Location>

  ProxyPass /pulp/assets/ {{ httpd_pulp_api_backend }}/pulp/assets/
  ProxyPassReverse /pulp/assets/ {{ httpd_pulp_api_backend }}/pulp/assets/

  ## Proxy rules
  ProxyRequests Off
  ProxyPreserveHost {{ 'On' if httpd_with_foreman else 'Off' }}
{% if httpd_with_foreman %}
  ProxyAddHeaders On
  ProxyPass /pulp !
  ProxyPass /pub !
  ProxyPass /icons !
  ProxyPass /images !
  ProxyPass /server-status !
  ProxyPass / {{ httpd_foreman_backend }}/ retry=0 timeout=900 upgrade=websocket
  ProxyPassReverse / {{ httpd_foreman_backend }}/
{% else %}
  ProxyPass /rhsm {{ httpd_foreman_url }}/rhsm disablereuse=on retry=0
  ProxyPassReverse /rhsm {{ httpd_foreman_url }}/rhsm
  ProxyPass /redhat_access {{ httpd_foreman_url }}/redhat_access disablereuse=on retry=0
  ProxyPassReverse /redhat_access {{ httpd_foreman_url }}/redhat_access
  ProxyPass /api/lightspeed {{ httpd_foreman_url }}/api/lightspeed disablereuse=on retry=0
  ProxyPassReverse /api/lightspeed {{ httpd_foreman_url }}/api/lightspeed
  ProxyPass /api/registration_commands {{ httpd_foreman_url }}/api/registration_commands disablereuse=on retry=0
  ProxyPassReverse /api/registration_commands {{ httpd_foreman_url }}/api/registration_commands
{% endif %}

  AddDefaultCharset UTF-8
</VirtualHost>
