  <Location "/pypi">
    RequestHeader unset X-CLIENT-CERT
    RequestHeader set X-CLIENT-CERT "%{SSL_CLIENT_CERT}s" env=SSL_CLIENT_CERT
    RequestHeader set X-FORWARDED-PROTO expr=%{REQUEST_SCHEME}
    ProxyPass {{ httpd_pulp_api_backend }}/pypi timeout=600
    ProxyPassReverse {{ httpd_pulp_api_backend }}/pypi
  </Location>
