<VirtualHost *:443>
  ServerName {{ ansible_facts['fqdn'] }}

  ## SSL directives
  SSLEngine on
  SSLCertificateFile      "{{ httpd_ssl_dir }}/certs/katello-apache.crt"
  SSLCertificateKeyFile   "{{ httpd_ssl_dir }}/private/katello-apache.key"
  SSLCertificateChainFile "{{ httpd_ssl_dir }}/certs/katello-server-ca.crt"
  SSLVerifyClient         optional
  SSLVerifyDepth          3
  SSLCACertificateFile    "{{ httpd_ssl_dir }}/certs/katello-default-ca.crt"
  SSLOptions +StdEnvVars +ExportCertData

  ## Logging
  ErrorLog "/var/log/httpd/rhsm-pulpcore_error.log"
  ServerSignature Off
  CustomLog "/var/log/httpd/rhsm-pulpcore_access.log" combined
  ErrorDocument 500 '{"displayMessage": "Internal error, contact administrator", "errors": ["Internal error, contact administrator"], "status": "500" }'
  ErrorDocument 503 '{"displayMessage": "Service unavailable or restarting, try later", "errors": ["Service unavailable or restarting, try later"], "status": "503" }'

  ## Request header rules
  ## as per http://httpd.apache.org/docs/2.4/mod/mod_headers.html#requestheader
  RequestHeader set X_RHSM_SSL_CLIENT_CERT "%{SSL_CLIENT_CERT}s"

  # SSL Proxy directives
  SSLProxyEngine On
  SSLProxyCACertificateFile "{{ httpd_ssl_dir }}/certs/katello-default-ca.crt"
  ProxyPass /katello/api/v2/repositories/ {{ httpd_proxy_foreman_url }}/katello/api/v2/repositories/
  <Location /katello/api/v2/repositories/>
    ProxyPassReverse {{ httpd_proxy_foreman_url }}/katello/api/v2/repositories/
  </Location>
  SSLProxyEngine On

  ProxyPass /pulp_ansible/galaxy/ {{ httpd_pulp_api_backend }}/pulp_ansible/galaxy/
  ProxyPassReverse /pulp_ansible/galaxy/ {{ httpd_pulp_api_backend }}/pulp_ansible/galaxy/

  <Location "/pulpcore_registry/v2/">
    RequestHeader unset REMOTE_USER
    RequestHeader unset REMOTE-USER
    RequestHeader set REMOTE-USER "admin" "expr=%{SSL_CLIENT_S_DN_CN} == '{{ ansible_facts['fqdn'] }}'"
    RequestHeader set REMOTE-USER "admin" "expr=%{SSL_CLIENT_S_DN_CN} == '{{ httpd_proxy_foreman_fqdn }}'"
    ProxyPass {{ httpd_pulp_api_backend }}/v2/
    ProxyPassReverse {{ httpd_pulp_api_backend }}/v2/
  </Location>

  ProxyPass /pulp/container/ {{ httpd_pulp_content_backend }}/pulp/container/
  ProxyPassReverse /pulp/container/ {{ httpd_pulp_content_backend }}/pulp/container/

  <Location "/pulp/content">
    RequestHeader unset X-CLIENT-CERT
    RequestHeader set X-CLIENT-CERT "%{SSL_CLIENT_CERT}s" env=SSL_CLIENT_CERT
    ProxyPass {{ httpd_pulp_content_backend }}/pulp/content disablereuse=on timeout=600
    ProxyPassReverse {{ httpd_pulp_content_backend }}/pulp/content
  </Location>

  <Location "/pulp/api/v3">
    RequestHeader unset REMOTE_USER
    RequestHeader unset REMOTE-USER
    RequestHeader set REMOTE-USER "admin" "expr=%{SSL_CLIENT_S_DN_CN} == '{{ ansible_facts['fqdn'] }}'"
    RequestHeader set REMOTE-USER "admin" "expr=%{SSL_CLIENT_S_DN_CN} == '{{ httpd_proxy_foreman_fqdn }}'"
    ProxyPass {{ httpd_pulp_api_backend }}/pulp/api/v3 timeout=600
    ProxyPassReverse {{ httpd_pulp_api_backend }}/pulp/api/v3
  </Location>

  ProxyPass /pulp/assets/ {{ httpd_pulp_api_backend }}/pulp/assets/
  ProxyPassReverse /pulp/assets/ {{ httpd_pulp_api_backend }}/pulp/assets/

  ## Proxy rules
  ProxyRequests Off
  ProxyPreserveHost Off
  ProxyPass /rhsm {{ httpd_proxy_foreman_url }}/rhsm disablereuse=on retry=0
  ProxyPassReverse /rhsm {{ httpd_proxy_foreman_url }}/rhsm
  ProxyPass /redhat_access {{ httpd_proxy_foreman_url }}/redhat_access disablereuse=on retry=0
  ProxyPassReverse /redhat_access {{ httpd_proxy_foreman_url }}/redhat_access
  ProxyPass /api/lightspeed {{ httpd_proxy_foreman_url }}/api/lightspeed disablereuse=on retry=0
  ProxyPassReverse /api/lightspeed {{ httpd_proxy_foreman_url }}/api/lightspeed
  ProxyPass /api/registration_commands {{ httpd_proxy_foreman_url }}/api/registration_commands disablereuse=on retry=0
  ProxyPassReverse /api/registration_commands {{ httpd_proxy_foreman_url }}/api/registration_commands

  Alias /pub {{ httpd_pub_dir }}

  <Location /pub>
    Options +FollowSymLinks +Indexes
    Require all granted
  </Location>

  AddDefaultCharset UTF-8
</VirtualHost>
