[Unit]
Description=Pulp Content socket

[Socket]
ListenStream={{ pulp_content_listen_stream }}
SocketUser=apache
SocketMode=0600

NoDelay=false
ReusePort=true
# Default on EL10 (v254+), needed explicitly for EL9 (v252)
Backlog=4294967295

[Install]
WantedBy=sockets.target
