---
foreman_container_image: "quay.io/foreman/foreman"
foreman_container_tag: "nightly"

foreman_database_name: foreman
foreman_database_user: foreman
foreman_database_host: localhost
foreman_database_port: 5432
foreman_database_pool: 9
foreman_database_sslmode: disable
foreman_database_sslrootcert:
