---
foreman_container_image: "quay.io/foreman/foreman"
foreman_container_tag: "nightly"
foreman_registry_auth_file: /etc/foreman/registry-auth.json

foreman_database_name: foreman
foreman_database_user: foreman
foreman_database_host: localhost
foreman_database_port: 5432
foreman_database_pool: 9
foreman_database_ssl_mode: disable
foreman_database_ssl_ca:

foreman_url: "http://{{ ansible_facts['fqdn'] }}:3000"

# Puma threads calculation:
# Max calculation is based on the default for MRI https://puma.io/puma6/#thread-pool
# Min calculation is based on testing that showed that having the same value as the max led to
# lower memory usage
foreman_puma_threads_max: 5
foreman_puma_threads_min: "{{ foreman_puma_threads_max }}"
# Puma workers calculation:
# CPU calculation is based on https://github.com/puma/puma/blob/master/docs/deployment.md#mri
# Memory calculation is based on https://docs.gitlab.com/ee/install/requirements.html#puma-settings
foreman_puma_workers: "{{ [32, ansible_facts['processor_nproc'] * 1.5, (ansible_facts['memtotal_mb'] / 1024) - 1.5] | min | int }}"

foreman_recurring_tasks_enabled: true
foreman_recurring_tasks:
  - instance: hourly
    rake: "cron:hourly"
    schedule: "hourly"
  - instance: daily
    rake: "cron:daily"
    schedule: "daily"
  - instance: weekly
    rake: "cron:weekly"
    schedule: "weekly"
  - instance: monthly
    rake: "cron:monthly"
    schedule: "monthly"
