---
foreman_container_image: "quay.io/foreman/foreman"
foreman_container_tag: "nightly"

foreman_database_name: foreman
foreman_database_user: foreman
foreman_database_host: localhost
foreman_database_port: 5432
foreman_database_pool: 9
foreman_database_sslmode: disable
foreman_database_sslrootcert:

foreman_url: "http://{{ ansible_facts['fqdn'] }}:3000"

# Puma workers calculation:
# CPU based calculation is based on https://github.com/puma/puma/blob/master/docs/deployment.md#mri
# Memory based calculation is based on https://docs.gitlab.com/ee/install/requirements.html#puma-settings
foreman_puma_workers: "{{ [32, ansible_facts['processor_nproc'] * 1.5, (ansible_facts['memtotal_mb'] / 1024) - 1.5] | min | int }}"
