---
foreman_container_image: "quay.io/foreman/foreman"
foreman_container_tag: "nightly"

foreman_database_name: foreman
foreman_database_user: foreman
foreman_database_host: localhost
foreman_database_port: 5432
foreman_database_pool: 9
foreman_database_sslmode: disable
foreman_database_sslrootcert:

foreman_url: "http://{{ ansible_facts['fqdn'] }}:3000"

# Puma workers calculation:
# CPU based calculation is based on https://github.com/puma/puma/blob/master/docs/deployment.md#mri
# Memory based calculation is based on https://docs.gitlab.com/ee/install/requirements.html#puma-settings
foreman_puma_workers: "{{ [32, ansible_facts['processor_nproc'] * 1.5, (ansible_facts['memtotal_mb'] / 1024) - 1.5] | min | int }}"
foreman_recurring_tasks_enabled: true
foreman_recurring_tasks:
  - instance: reports-daily
    rake: "reports:daily"
    schedule: "daily"
  - instance: db-sessions-clear
    rake: "db:sessions:clear"
    schedule: "*-*-* 23:15:00"
  - instance: reports-expire
    rake: "reports:expire"
    schedule: "*-*-* 07:30:00"
  - instance: audits-expire
    rake: "audits:expire"
    schedule: "*-*-* 01:00:00"
  - instance: reports-weekly
    rake: "reports:weekly"
    schedule: "Sun *-*-* 05:00:00"
  - instance: reports-monthly
    rake: "reports:monthly"
    schedule: "*-*-01 03:00:00"
  - instance: notifications-clean
    rake: "notifications:clean"
    schedule: "Sun *-*-* 06:00:00"
  - instance: ldap-refresh_usergroups
    rake: "ldap:refresh_usergroups"
    schedule: "*-*-* *:00,30:00"
