---
- name: Generate keystore
  community.crypto.openssl_pkcs12:
    action: export
    passphrase: "{{ candlepin_keystore_password }}"
    path: "{{ candlepin_keystore_path }}"
    owner: "{{ foremanctl_user }}"
    group: "{{ foremanctl_group }}"
    mode: '0600'
    friendly_name: 'tomcat'
    privatekey_path: "{{ candlepin_tomcat_key }}"
    certificate_path: "{{ candlepin_tomcat_certificate }}"
    other_certificates: "{{ candlepin_ca_certificate }}"
    state: present

- name: Generate truststore
  community.crypto.openssl_pkcs12:
    action: export
    passphrase: "{{ candlepin_keystore_password }}"
    path: "{{ candlepin_truststore_path }}"
    owner: "{{ foremanctl_user }}"
    group: "{{ foremanctl_group }}"
    mode: '0600'
    friendly_name: 'artemis-client'
    privatekey_path: "{{ candlepin_client_key }}"
    certificate_path: "{{ candlepin_client_certificate }}"
    other_certificates: "{{ candlepin_ca_certificate }}"
    state: present

- name: Decrypt Candlepin CA key
  ansible.builtin.command: openssl pkey -in "{{ candlepin_ca_key }}" -passin "file:{{ candlepin_ca_key_password }}"
  register: _candlepin_ca_key
  changed_when: false

- name: Configure Candlepin certificate secrets as rootless user
  environment:
    XDG_RUNTIME_DIR: "{{ foremanctl_xdg_runtime_dir }}"
  become: true
  become_user: "{{ foremanctl_user }}"
  block:
    - name: Create the podman secret for Candlepin CA certificate
      containers.podman.podman_secret:
        state: present
        name: candlepin-ca-cert
        path: "{{ candlepin_ca_certificate }}"
        labels:
          app: candlepin
      notify:
        - Restart candlepin

    - name: Create the podman secret for Candlepin CA key
      containers.podman.podman_secret:
        state: present
        name: candlepin-ca-key
        data: "{{ _candlepin_ca_key.stdout }}"
        labels:
          app: candlepin
      notify:
        - Restart candlepin

    - name: Create the podman secret for Tomcat keystore
      containers.podman.podman_secret:
        state: present
        name: candlepin-tomcat-keystore
        path: "{{ candlepin_keystore_path }}"
        labels:
          filename: candlepin.keystore
          app: tomcat
      notify:
        - Restart candlepin

    - name: Create the podman secret for Tomcat truststore
      containers.podman.podman_secret:
        state: present
        name: candlepin-tomcat-truststore
        path: "{{ candlepin_truststore_path }}"
        labels:
          filename: candlepin.truststore
          app: tomcat
      notify:
        - Restart candlepin

    - name: Create the podman secret for the keystore password
      containers.podman.podman_secret:
        state: present
        name: candlepin-tomcat-keystore-password
        data: "{{ candlepin_keystore_password }}"
        labels:
          app: tomcat
      notify:
        - Restart candlepin
