[Unit]
Description=Path unit for vex-latest.tar.zst manual file watcher

[Path]
PathChanged={{ iop_vex_downloader_manual_file }}
PathModified={{ iop_vex_downloader_manual_file }}

[Install]
WantedBy=multi-user.target
