---
- name: Create settings config secret
  containers.podman.podman_secret:
    state: present
    name: foreman-proxy-settings-yml
    data: "{{ lookup('ansible.builtin.template', 'settings.yml.j2') }}"
  notify:
    - Restart Foreman Proxy
