---
- name: Execute checks
  ansible.builtin.include_tasks: execute_check.yml
  loop:
    - check_hostname
    - check_database_connection
    - check_system_requirements

- name: Report status of checks
  ansible.builtin.fail:
    msg: "{{ checks_results }}"
  when:
    - checks_results|default([])|length > 0
