[Unit]
Description=Foreman
After=local-fs.target

[Container]
Image=quay.io/ehelms/foreman:latest
PodmanArgs=--cgroups=enabled --log-driver=journald

Environment=FOREMAN_ENV=production
Environment=MALLOC_ARENA_MAX=2

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
