[Unit]
Description=Timer for Foreman recurring: {{ item.instance }}

[Timer]
Unit=foreman-recurring@{{ item.instance }}.service
OnCalendar={{ item.schedule }}
Persistent=true
RandomizedDelaySec=120
AccuracySec=1min

[Install]
WantedBy=timers.target
