[Unit]
Description=Foreman recurring task: db:sessions:clear

[Container]
Image={{ foreman_container_image }}:{{ foreman_container_tag }}
Exec=foreman-rake db:sessions:clear
User=foreman
WorkingDir=/usr/share/foreman
Volume=/etc/foreman:/etc/foreman:ro
Volume=/var/lib/foreman:/var/lib/foreman
Network=host

[Install]
WantedBy=multi-user.target
