---
:ssl_certificate: /etc/foreman/client_cert.pem
:ssl_ca_file: /etc/foreman/katello-default-ca.crt
:ssl_priv_key: /etc/foreman/client_key.pem

:rails_cache_store:
  :type: redis
  :urls:
    - redis://localhost:6379/4
  :options:
    :compress: true
    :namespace: foreman

{% if foreman_oauth_consumer_key is defined and foreman_oauth_consumer_secret is defined %}
:oauth_active: true
:oauth_consumer_key: {{ foreman_oauth_consumer_key }}
:oauth_consumer_secret: {{ foreman_oauth_consumer_secret }}
{% endif %}

:logging:
  :level: "{{ foreman_logging_level }}"
  :production:
    :type: stdout
    :layout: "{{ foreman_logging_layout }}"

{% if foreman_loggers %}
:loggers:
{% for logger, enabled in foreman_loggers.items() %}
  :{{ logger }}:
    :enabled: {{ enabled }}
{% endfor %}
{% endif %}
