### File managed with Ansible ###
## Role: foreman_development

:katello:
  :rest_client_timeout: 3600
  :katello_applicability: true

  :candlepin:
    :url: {{ foreman_development_candlepin_url }}
    :oauth_key: {{ foreman_development_oauth_consumer_key }}
    :oauth_secret: {{ foreman_development_candlepin_oauth_secret }}
    :ca_cert_file: {{ foreman_development_cert_dir }}/proxy_ca.pem

  :candlepin_events:
    :ssl_cert_file: {{ foreman_development_cert_dir }}/client_cert.pem
    :ssl_key_file: {{ foreman_development_cert_dir }}/client_key.pem
    :ssl_ca_file: {{ foreman_development_cert_dir }}/proxy_ca.pem

  :katello_applicability: true
