---
:katello:
  :rest_client_timeout: 3600

  :candlepin:
    :url: https://localhost:23443/candlepin
    :oauth_key: "katello"
    :oauth_secret: "{{ candlepin_oauth_secret }}"
    :ca_cert_file: /etc/foreman/katello-default-ca.crt

  :candlepin_events:
    :broker_host: localhost
    :ssl_cert_file: /etc/foreman/client_cert.pem
    :ssl_key_file: /etc/foreman/client_key.pem
    :ssl_ca_file: /etc/foreman/katello-default-ca.crt

  :pulp:
    :ca_cert_file: /etc/foreman/katello-default-ca.crt
