export ANSIBLE_CALLBACK_WHITELIST="theforeman.foreman.foreman"
export ANSIBLE_CALLBACKS_ENABLED="theforeman.foreman.foreman"
export ANSIBLE_LOCAL_TEMP="/tmp"
export ANSIBLE_HOST_KEY_CHECKING="False"
export ANSIBLE_ROLES_PATH="/etc/ansible/roles:/usr/share/ansible/roles"
export ANSIBLE_COLLECTIONS_PATHS="/etc/ansible/collections:/usr/share/ansible/collections"

export FOREMAN_URL="{{ foreman_url }}"
export FOREMAN_SSL_CERT="/etc/foreman-proxy/foreman_ssl_cert.pem"
export FOREMAN_SSL_KEY="/etc/foreman-proxy/foreman_ssl_key.pem"
export FOREMAN_SSL_VERIFY="/etc/foreman-proxy/foreman_ssl_ca.pem"

export ANSIBLE_SSH_ARGS="-C -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=15 -o ServerAliveCountMax=3"
