---
- name: Setup rootless user environment
  hosts:
    - quadlet
  become: true
  roles:
    - role: rootless_user
  tasks:
    - name: Map rootless_user_xdg_runtime_dir to foremanctl namespace
      ansible.builtin.set_fact:
        foremanctl_xdg_runtime_dir: "{{ rootless_user_xdg_runtime_dir }}"

- name: Deploy Foreman services
  hosts:
    - quadlet
  become: true
  vars_files:
    - "../../vars/defaults.yml"
    - "../../vars/flavors/{{ flavor }}.yml"
    - "../../vars/{{ certificate_source }}_certificates.yml"
    - "../../vars/images.yml"
    - "../../vars/tuning/{{ tuning }}.yml"
    - "../../vars/database.yml"
    - "../../vars/foreman.yml"
    - "../../vars/base.yaml"
  roles:
    - role: pre_install
    - role: checks
    - role: certificates
      when: "certificate_source == 'default'"
    - role: certificate_checks
      vars:
        certificate_checks_certificate: "{{ server_certificate }}"
        certificate_checks_key: "{{ server_key }}"
        certificate_checks_ca: "{{ ca_certificate }}"
    - role: postgresql
      when:
        - database_mode == 'internal'
    - redis
    - candlepin
    - httpd
    - pulp
    - foreman
    - role: systemd_target
    - role: foreman_proxy
      when:
        - "'foreman-proxy' in enabled_features"
    - role: hammer
      when:
        - "'hammer' in enabled_features"
    - post_install
