---
- name: Setup quadlet demo machine
  hosts:
    - quadlet
  become: true
  vars_files:
    - "../../vars/defaults.yml"
    - "../../vars/flavors/{{ flavor }}.yml"
    - "../../vars/{{ certificate_source }}_certificates.yml"
    - "../../vars/images.yml"
    - "../../vars/tuning/{{ tuning }}.yml"
    - "../../vars/database.yml"
    - "../../vars/foreman.yml"
    - "../../vars/base.yaml"
  pre_tasks:
    - name: Add iop databases
      when:
        - "'iop' in enabled_features"
      block:
        - name: Include iop databases
          ansible.builtin.include_vars:
            file: "../../vars/database_iop.yml"

        - name: Combine lists
          ansible.builtin.set_fact:
            postgresql_databases: "{{ postgresql_databases + iop_postgresql_databases }}"
            postgresql_users: "{{ postgresql_users + iop_postgresql_users }}"
  roles:
    - role: pre_install
    - role: checks
    - role: certificates
      when: "certificate_source == 'default'"
    - role: certificate_checks
      vars:
        certificate_checks_certificate: "{{ server_certificate }}"
        certificate_checks_key: "{{ server_key }}"
        certificate_checks_ca: "{{ ca_certificate }}"
    - role: postgresql
      when:
        - database_mode == 'internal'
    - redis
    - candlepin
    - httpd
    - pulp
    - foreman
    - role: systemd_target
    - role: iop_core
      when:
        - "'iop' in enabled_features"
    - role: foreman_proxy
      when:
        - "'foreman-proxy' in enabled_features"
    - role: hammer
      when:
        - "'hammer' in enabled_features"
    - post_install
