---
- name: Setup quadlet demo machine
  hosts:
    - quadlet
  become: true
  vars_files:
    - "../../vars/{{ certificate_source }}_certificates.yml"
    - "../../vars/images.yml"
    - "../../vars/database.yml"
  vars:
    certificate_source: default
    certificates_hostnames:
      - "{{ ansible_fqdn }}"
      - localhost
    certificates_ca_password: "CHANGEME"
    candlepin_keystore_password: "CHANGEME"
    candlepin_oauth_secret: "CHANGEME"
    candlepin_ca_key_password: "{{ ca_key_password }}"
    candlepin_ca_key: "{{ ca_key }}"
    candlepin_ca_certificate: "{{ ca_certificate }}"
    candlepin_tomcat_key: "{{ localhost_key }}"
    candlepin_tomcat_certificate: "{{ localhost_certificate }}"
    candlepin_client_key: "{{ client_key }}"
    candlepin_client_certificate: "{{ client_certificate }}"
    foreman_proxy_ca_certificate: "{{ ca_certificate }}"
    foreman_proxy_server_key: "{{ server_key }}"
    foreman_proxy_server_certificate: "{{ server_certificate }}"
    foreman_proxy_client_key: "{{ client_key }}"
    foreman_proxy_client_certificate: "{{ client_certificate }}"
    foreman_ca_certificate: "{{ ca_certificate }}"
    foreman_client_key: "{{ client_key }}"
    foreman_client_certificate: "{{ client_certificate }}"
    foreman_oauth_consumer_key: abcdefghijklmnopqrstuvwxyz123456
    foreman_oauth_consumer_secret: abcdefghijklmnopqrstuvwxyz123456
    httpd_server_ca_certificate: "{{ ca_certificate }}"
    httpd_client_ca_certificate: "{{ ca_certificate }}"
    httpd_server_certificate: "{{ server_certificate }}"
    httpd_server_key: "{{ server_key }}"
    pulp_content_origin: "https://{{ ansible_fqdn }}"
  pre_tasks:
    - name: Deploy debug_tools
      ansible.builtin.include_role:
        name: debug_tools
    - name: Install podman
      ansible.builtin.package:
        name:
          - podman
    - name: Install other dependencies
      ansible.builtin.package:
        name:
          - bash-completion
          - python3-cryptography
          - python3-libsemanage
          - python3-psycopg2
          - python3-requests
  roles:
    - role: certificates
      when: "certificate_source == 'default'"
    - role: foreman_installer_certs
      when: "certificate_source == 'installer'"
    - role: certificate_checks
      vars:
        certificate_checks_certificate: "{{ server_certificate }}"
        certificate_checks_key: "{{ server_key }}"
        certificate_checks_ca: "{{ ca_certificate }}"
    - postgresql
    - redis
    - candlepin
    - httpd
    - pulp
    - foreman_proxy
    - foreman
