---
- name: Setup quadlet demo machine
  hosts:
    - quadlet
  become: true
  vars_files:
    - "../../vars/defaults.yml"
    - "../../vars/profiles/{{ profile }}.yml"
    - "../../vars/{{ certificate_source }}_certificates.yml"
    - "../../vars/images.yml"
    - "../../vars/database.yml"
    - "../../vars/foreman.yml"
    - "../../vars/base.yaml"
  roles:
    - role: pre_install
    - role: checks
    - role: certificates
      when: "certificate_source == 'default'"
    - role: certificate_checks
      vars:
        certificate_checks_certificate: "{{ server_certificate }}"
        certificate_checks_key: "{{ server_key }}"
        certificate_checks_ca: "{{ ca_certificate }}"
    - role: postgresql
      when:
        - database_mode == 'internal'
    - redis
    - candlepin
    - httpd
    - pulp
    - foreman
    - role: systemd_target
    - role: hammer
      when:
        - "'hammer' in enabled_features"
    - post_install
