---
help: |
  Install

variables:
  foreman_initial_admin_username:
    help: Initial username for the admin user.
  foreman_initial_admin_password:
    help: Initial password for the admin user.
  foreman_puma_workers:
    help: Number of workers for Puma.
  pulp_worker_count:
    help: Number of Pulp workers. Defaults to 8 or the number of CPU cores, whichever is smaller.
  features:
    parameter: --feature
    help: Features to enable in this deployment.
    action: append

include:
  - _certificate_source
  - _database_mode
  - _database_connection
