---
help: |
  Install

variables:
  foreman_initial_admin_username:
    help: Initial username for the admin user.
  foreman_initial_admin_password:
    help: Initial password for the admin user.
  foreman_puma_workers:
    help: Number of workers for Puma.
  foreman_puma_threads_max:
    help: Maximum number of threads spawned by a Puma worker. Defaults to 5.
  pulp_worker_count:
    help: Number of Pulp workers. Defaults to 8 or the number of CPU cores, whichever is smaller.
  external_authentication:
    help: External authentication method to use
    choices:
      - ipa
      - ipa_with_api
  external_authentication_pam_service:
    help: Name of the PAM service to use for IPA authentication

include:
  - _certificate_source
  - _database_mode
  - _database_connection
  - _tuning
  - _flavor_features
