[defaults]
host_key_checking = False
roles_path = ./roles
library = ./plugins/modules
filter_plugins = ./filter_plugins
callback_plugins = ./callback_plugins
callback_result_format = yaml
stdout_callback = foremanctl
