---
:enabled: https
:pulp_url: "{{ pulp_pulp_url }}"
:content_app_url: "{{ pulp_content_origin }}/pulp/content"
:mirror: false
:client_authentication: ["client_certificate"]
:rhsm_url: "{{ pulp_pulp_url }}/rhsm"
