# (REQUIRED) CName of the Foreman instance (must match Foreman's TLS certificate)
proxy_ssl_name "{{ foreman_servername | default(ansible_fqdn) }}";

# URI to forman
# Example of host.containers.internal is the container network gateway.
proxy_pass "https://host.containers.internal";
