---
- name: Read /etc/subuid file
  ansible.builtin.slurp:
    src: /etc/subuid
  register: check_subuid_subgid_subuid_file

- name: Read /etc/subgid file
  ansible.builtin.slurp:
    src: /etc/subgid
  register: check_subuid_subgid_subgid_file

- name: Assert /etc/subuid and /etc/subgid have entries for {{ foremanctl_user }}
  ansible.builtin.assert:
    that:
      - "foremanctl_user + ':' in (check_subuid_subgid_subuid_file.content | b64decode)"
      - "foremanctl_user + ':' in (check_subuid_subgid_subgid_file.content | b64decode)"
    fail_msg: "Entries for user {{ foremanctl_user }} are missing in /etc/subuid or /etc/subgid"
