[Unit]
Description=Candlepin
After=local-fs.target

[Container]
Image={{ candlepin_container_image }}:{{ candlepin_container_tag }}
LogDriver=journald
Network=host

Volume=/etc/tomcat/server.xml:/etc/tomcat/server.xml:Z
Volume=/etc/tomcat/tomcat.conf:/etc/tomcat/tomcat.conf:Z

Volume=/etc/tomcat/login.config:/etc/tomcat/login.config:Z
Volume=/etc/tomcat/cert-roles.properties:/etc/tomcat/cert-roles.properties:Z
Volume=/etc/tomcat/cert-users.properties:/etc/tomcat/cert-users.properties:Z
Volume=/etc/tomcat/conf.d/jaas.conf:/etc/tomcat/conf.d/jaas.conf:Z

Volume=/etc/candlepin/candlepin.conf:/etc/candlepin/candlepin.conf:Z
Volume=/etc/candlepin/broker.xml:/etc/candlepin/broker.xml:Z

Volume=/var/log/candlepin:/var/log/candlepin:Z
Volume=/var/log/tomcat:/var/log/tomcat:Z

Secret=candlepin-ca-cert,target=/etc/candlepin/certs/candlepin-ca.crt,mode=0440
Secret=candlepin-ca-key,target=/etc/candlepin/certs/candlepin-ca.key,mode=0440
Secret=candlepin-tomcat-keystore,target=/etc/candlepin/certs/keystore,mode=0440

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
