---
name: Test

on:
  push:
    branches:
      - master
    paths-ignore:
      - 'docs/**'
  pull_request:
    paths-ignore:
      - 'docs/**'


concurrency:
  group: ${{ github.ref_name }}-${{ github.workflow }}
  cancel-in-progress: true

jobs:
  ansible-lint:
    name: Ansible Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - name: Run ansible-lint on src
        uses: ansible/ansible-lint@main
        with:
          requirements_file: requirements.yml
          working_directory: src
          setup_python: false
      - name: Run ansible-lint on development
        uses: ansible/ansible-lint@main
        with:
          requirements_file: requirements.yml
          working_directory: development
          setup_python: false

  tests:
    strategy:
      fail-fast: false
      matrix:
        certificate_source:
          - default
          - installer
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - name: Setup libvirt for Vagrant
        uses: voxpupuli/setup-vagrant@v0
      - name: Install Ansible
        run: pip install --upgrade ansible-core
      - name: Setup environment
        run: ./setup-environment
      - name: Start VMs
        run: |
          ./forge vms start
      - name: Configure repositories
        run: |
          ./forge setup-repositories
      - name: Create installer certificates
        if: contains(matrix.certificate_source, 'installer')
        run: |
          ./forge installer-certs
      - name: Run image pull
        run: |
          ./foremanctl pull-images
      - name: Run deployment
        run: |
          ./foremanctl deploy --certificate-source=${{ matrix.certificate_source }} --foreman-initial-admin-password=changeme
      - name: Add optional feature - hammer
        # FIXME: We need to repeat the default features once
        run: |
          ./foremanctl deploy --feature foreman-tasks --feature foreman_remote_execution --feature katello --feature content/container --feature content/rpm --feature hammer
      - name: Set up Foreman Proxy
        run: |
          ./foremanctl setup-foreman-proxy
      - name: Run tests
        run: |
          ./forge test --pytest-args="--certificate-source=${{ matrix.certificate_source }}"
      - name: Run smoker
        run: |
          ./forge smoker
      - name: Archive smoker report
        if: ${{ always() }}
        uses: actions/upload-artifact@v5
        with:
          name: smoker-${{ matrix.certificate_source }}
          path: "/home/runner/smoker/report/"
      - name: Generate sos reports
        if: ${{ always() }}
        run: ./forge sos
      - name: Archive sos reports
        if: ${{ always() }}
        uses: actions/upload-artifact@v5
        with:
          name: sosreport-${{ matrix.certificate_source }}
          path: sos/
      - name: Setup upterm session
        if: ${{ failure() }}
        uses: owenthereal/action-upterm@v1
        with:
          ## limits ssh access and adds the ssh public key for the user which triggered the workflow
          limit-access-to-actor: true
          ## If no one connects after 5 minutes, shut down server.
          wait-timeout-minutes: 5

  devel-tests:
    strategy:
      fail-fast: false
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - name: Setup libvirt for Vagrant
        uses: voxpupuli/setup-vagrant@v0
      - name: Install Ansible
        run: pip install --upgrade ansible-core
      - name: Setup environment
        run: ./setup-environment
      - name: Start VMs
        run: |
          ./forge vms start
      - name: Configure repositories
        run: |
          ./forge setup-repositories
      - name: Run deployment
        run: |
          ./forge deploy-dev --foreman-development-enabled-plugin foreman_ansible
      - name: Setup upterm session
        if: ${{ failure() }}
        uses: owenthereal/action-upterm@v1
        with:
          ## limits ssh access and adds the ssh public key for the user which triggered the workflow
          limit-access-to-actor: true
          ## If no one connects after 5 minutes, shut down server.
          wait-timeout-minutes: 5

  upgrade:
    strategy:
      fail-fast: false
      matrix:
        upgrade_from:
          - '3.16'
        upgrade_to:
          - 'nightly'
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - name: Setup libvirt for Vagrant
        uses: voxpupuli/setup-vagrant@v0
      - name: Install Ansible
        run: pip install --upgrade ansible-core
      - name: Setup environment
        run: ./setup-environment
      - name: Start VMs
        run: |
          ./forge vms start
      - name: Configure repositories
        run: |
          ./forge setup-repositories
      - name: Configure base version
        run: |
          sed -i '/container_tag_stream:/ s/:.*/: "${{ matrix.upgrade_from }}"/' src/vars/images.yml
      - name: Run image pull
        run: |
          ./foremanctl pull-images
      - name: Run deployment
        run: |
          ./foremanctl deploy --foreman-initial-admin-password=changeme
      - name: Stop services
        run:
          vagrant ssh quadlet -- sudo systemctl stop foreman.target
      - name: Configure upgrade version
        run: |
          sed -i '/container_tag_stream:/ s/:.*/: "${{ matrix.upgrade_to }}"/' src/vars/images.yml
      - name: Run image pull
        run: |
          ./foremanctl pull-images
      - name: Run deployment
        run: |
          ./foremanctl deploy
      - name: Add optional feature - hammer
        run: |
          ./foremanctl deploy --feature hammer
      - name: Set up Foreman Proxy
        run: |
          ./foremanctl setup-foreman-proxy
      - name: Run tests
        run: |
          ./forge test
      - name: Generate sos reports
        if: ${{ always() }}
        run: ./forge sos
      - name: Archive sos reports
        if: ${{ always() }}
        uses: actions/upload-artifact@v5
        with:
          name: sosreport-upgrade
          path: sos/
      - name: Setup upterm session
        if: ${{ failure() }}
        uses: owenthereal/action-upterm@v1
        with:
          ## limits ssh access and adds the ssh public key for the user which triggered the workflow
          limit-access-to-actor: true
          ## If no one connects after 5 minutes, shut down server.
          wait-timeout-minutes: 5

  # A dummy job that you can mark as a required check instead of each individual test
  test-suite:
    if: always()
    needs:
      - tests
      - devel-tests
      - upgrade
      - ansible-lint
    runs-on: ubuntu-latest
    name: Test suite
    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
